@charset "utf-8";

@font-face {
    font-family: "noto-kr-normal";
    src: url(../font/Noto_Sans_KR/static/NotoSansKR-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}
    
@font-face {
    font-family: "noto-kr";
    src: url(../font/Noto_Sans_KR/static/NotoSansKR-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.noto-kr-normal{
    font-family: "noto-kr-normal";
}

a {
    text-decoration: none;
    display: block;
}

li {
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    /* 최후의 수단 */
}


/* .padding{
    padding: 50px 0;
} */

.h1 {
    font-family: "Gasoek One", sans-serif;
    font-size: 55px;
    font-style: normal;
    display: flex;
    justify-content: center;
}

.title {
    font-family: "Bebas Neue", sans-serif;
    font-weight: bold;
    font-size: 55px;
    font-style: normal;
    display: flex;
    justify-content: center;
}

/* .yemin-wrapper .row{
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
} */

.pm {
    margin-top: 60px;
}

.wraper {
    width: 100%;
    height: 100%;
}

.inner-wrap {
    width: 100%;
    height: 650px;
    background-image: linear-gradient(to bottom, #000080, rgba(255, 255, 255, 0.3)), url(../img/bg-min.AVIF);
    background-repeat: no-repeat;
    background-size: cover;
}

/* #header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
} */

#header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: 0.5s;
}

.logo {
    width: 100px;
    height: 80px;
    text-align: center;
    font-size: 48px;
    font-weight: bold;
    transition: 0.3s;
    color: white;


    margin-left: 100px;
}

.logo:hover {
    cursor: pointer;
}

/* .menu {
    /* width: 400px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-right: 400px;
} */


/* .menu li {
    width: 25%;
} */

.ul-inner-wrap {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.ulinner-inner-wrap {
    margin-left: 100px;
    margin-right: 100px;
}

.menu {
    /* border: 1px solid black; */
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 700px;
}

.menu li a {
    font-size: 25px;
    transition: 0.3s;
    border-radius: 30px;
    color: white;
}

.menu li a:hover {
    transform: scale(1.5);
}

.hambuger {
    width: 50px;
    height: 50px;
    display: none;
}

.navbar{
    display: none;
}

.navB{
    display: none;
}

.navBar{
    transform: translateX(400px);
}

/* .Mmenu-wrapper{
    display: none;
}

.Mmenu-flex{
    width: 400px;
    height: 100%;
    
} */

/* s : main */
#main {
    /* padding-top: 150px;
    width: 1000px;
    height: 600px;
    margin-bottom: 150px;
    margin-left: 450px;
    text-align: center; */
    font-family: "Gasoek One", sans-serif;
    font-size: 55px;
    font-style: normal;
    color: white;

}

#main h1 {
    font-size: 50px;
    /* margin-bottom: 50px; */
}

#main h2 {
    font-size: 40px;
}

#main h3 {
    font-size: 30px;
    /* margin-bottom: 50px; */
    font-weight: normal;
}

#main hr {
    margin: 1rem 30%;
}

/* e : main */

/* s : load-more */
.btn-wrap {
    display: flex;
    justify-content: center;
}

.btn-wrap a {
    width: 100px;
    height: 50px;
    font-size: 35px;
    display: block;
    color: white;
    text-align: center;
    transition: 0.3s;
    animation: mouse 1s infinite ease-in-out;
}

@keyframes mouse {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* e : load-more */

#About-Me{
    scroll-margin-top: 200px;
}

#Skills{
    scroll-margin-top: 200px;
}

#Projects{
    scroll-margin-top: 200px;
}

#GBwrap{
    scroll-margin-top: 200px;
}

#About-Me h1 {
    font-family: "Gasoek One", sans-serif;
    font-size: 55px;
    font-style: normal;
}

.ME{
    display: none;
}

.Skills {
    /* display: flex;
    justify-content: center; */
    font-family: "Gasoek One", sans-serif;
    font-size: 55px;
    font-style: normal;
}


/* #Projects>div {
    width: 325px;
    height: 325px;
    border-radius: 15px;
    margin-bottom: 50px;
    transition: 0.3s;
    box-shadow: 0 0 1rem 3px rgba(0, 0, 0.5);
    text-align: left;
    padding-left: 10px;
    font-size: 20px;
    margin-top: 60px;
    background-color: #fff;
} */

/* #Projects > .future-project-wrap{ */
    /* width: 325px;
    height: 325px; */
    /* border-radius: 15px; */
    /* margin-bottom: 50px; */
    /* transition: 0.3s; */
    
    /* padding-left: 10px; */
    /* font-size: 20px; */
    /* margin-top: 60px; */
    /* background-color: #fff; */
/* } */

.project-content{
    box-shadow: 0 0 1rem 1px rgba(0, 0, 0.5);
    width: 900px;
    /* height: 300px; */
    height: fit-content;
    border: 3px solid #ccc;
    border-radius: 15px;
    font-family: "noto-kr";
}

.project-content img{
    width: 200px;
    height: 200px; 
    border-radius: 50%;
    margin-left: 10px;
}

/* #Projects > div:nth-child(2){
    width: 325px;
    height: 325px;
    border-radius: 15px;
    margin-bottom: 50px;
    transition: 0.3s;
    box-shadow: 0 0 1rem 3px rgba(0, 0, 0.5);
    text-align: left;
    padding-left: 10px;
    font-size: 20px;
    margin-top: 60px;
    background-color: #fff;
} */

/* #Projects > div:nth-child(3){
    width: 325px;
    height: 325px;
    border-radius: 15px;
    margin-bottom: 50px;
    transition: 0.3s;
    box-shadow: 0 0 1rem 3px rgba(0, 0, 0.5);
    text-align: left;
    padding-left: 10px;
    font-size: 20px;
    margin-top: 60px;
    background-color: #fff;
} */

@media (min-width: 768px) and (max-width: 767px) {

    .small-device {
        justify-content: space-between !important;
    }

    .mouse {
        display: none !important;
    }

    .ME {
        display: none !important;
    }

    .project-content{
        margin: 0 auto;
    }


    /* #Skills {
        border-bottom: 1px solid #ccc;
    }

    #Skills section>div:nth-child(1) {
        margin: 0 auto;
    }

    #Skills section>div:nth-child(2) {
        margin: 0 auto;
        margin-top: 30px;
    }

    #Skills section>div:nth-child(3) {
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
    } */

    /* #Projects>div:nth-child(1) {
        margin: 0 auto;
    }

    #Projects>div:nth-child(2) {
        margin: 0 auto;
        margin-top: 50px;
    }

    #Projects>div:nth-child(3) {
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .Gwrap{
        margin: 0 auto;
    }

    .Bwrap{
        margin: 0 auto;
        margin-top: 30px;
    }

    .Gdiv-zip{
        flex-direction: column;
    } */
}

@media (min-width:577px) and (max-width: 991px) {
    .header-wrapper {
        justify-content: space-between;
    }

    .hambuger {
        display: block;
    }

    .ME {
        display: none !important;
    }

    .logo {
        margin: 0;
    }

    #header .ul-wrap {
        display: none !important;
    }

    .mouse {
        display: none !important;
    }

    .project-content{
        margin: 0 auto;
    }

    /* #header .ul-wrap ~ a{
        display: none;
    } */

}

#GBwrap .github,
#GBwrap .blog {
    width: 400px;
    height: 200px;
    background-color: #fff;
    box-shadow: 0 0 1rem 5px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    transition: 0.3s;
}

#GBwrap .github:hover,
#GBwrap .blog:hover {
    transform: scale(0.9);
}



@media (max-width: 576px) {

    .header-wrapper {
        justify-content: space-between;
        margin: 0 10px;
    }

    .header-wrapper {
        display: block;
    }

    .logo {
        width: 100px;
        margin: 0;
    }

    .hambuger {
        display: inline-block;
    }

    #header .ul-wrap {
        display: none !important;
    }

    #header .sign-in {
        display: none;
    }

    .mouse {
        display: none !important;
    }

    .PE {
        display: none;
    }

    .ME {
        display: block !important;
    }

    #Skills {
        border-bottom: 1px solid #ccc;
    }

    .project-content{
        margin: 0 auto;
    }

    

    /* .sf-link{
        padding-right: 50px;
    } */

    /* .sc-link{
        padding-right: 50px;
    } */

    .date-wrap{
        margin-right: 10px;
    }

    /* .blog{
        margin-top: 50px;
    } */
}